params {
   LDSC = "/mnt/tank/scratch/dusolcev/programms/ldsc"
   LDSC_snplist = "/mnt/tank/scratch/dusolcev/programms/ldsc/w_hm3.snplist"
   LDSC_scores = "/mnt/tank/scratch/dusolcev/programms/ldsc/eur_w_ld_chr/"
   columns {
      pvalue = "pval"
      effect = "beta"
      effect_allele = "alt"
      other_allele = "ref"
      snp = "rsid"
   }
   no_effect = 0
}

process {
// uncomment "slurm" when running on SLURM cluster. Change "queue" as needed.
   executor = "slurm"
//   executor = "local"
   queue = "main"
   withLabel: "small_mem" {
      cpus = 1
      time = "1d"
      memory = "8GB"
   }
   withLabel: "big_mem" {
      cpus = 1
      time = "1d"
      memory = "16GB"
   }
}

executor {
   $slurm {
      queueSize = 1000
   }
   $local {
      cpus = 4 // set number of CPUs to use when running on a single machine
   }
}
